<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mars_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1362},{402,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,379}}</string>
                <key>sourceSize</key>
                <string>{402,379}</string>
            </dict>
            <key>mercury_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1743},{275,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,310}}</string>
                <key>sourceSize</key>
                <string>{275,310}</string>
            </dict>
            <key>moon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{548,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,548}}</string>
                <key>sourceSize</key>
                <string>{548,548}</string>
            </dict>
            <key>moon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{468,468}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{468,468}}</string>
                <key>sourceSize</key>
                <string>{548,548}</string>
            </dict>
            <key>moon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,472},{468,468}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{468,468}}</string>
                <key>sourceSize</key>
                <string>{548,548}</string>
            </dict>
            <key>moon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,552},{468,468}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{468,468}}</string>
                <key>sourceSize</key>
                <string>{548,548}</string>
            </dict>
            <key>moon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1022},{468,468}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{468,468}}</string>
                <key>sourceSize</key>
                <string>{548,548}</string>
            </dict>
            <key>planet_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1492},{91,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,117}}</string>
                <key>sourceSize</key>
                <string>{91,117}</string>
            </dict>
            <key>universe_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,1600}}</string>
                <key>sourceSize</key>
                <string>{960,1600}</string>
            </dict>
            <key>venus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{418,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,378}}</string>
                <key>sourceSize</key>
                <string>{418,378}</string>
            </dict>
            <key>venus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1604},{418,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,378}}</string>
                <key>sourceSize</key>
                <string>{418,378}</string>
            </dict>
            <key>venus_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1604},{418,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,378}}</string>
                <key>sourceSize</key>
                <string>{418,378}</string>
            </dict>
            <key>venus_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1492},{418,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,378}}</string>
                <key>sourceSize</key>
                <string>{418,378}</string>
            </dict>
            <key>venus_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,942},{418,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,378}}</string>
                <key>sourceSize</key>
                <string>{418,378}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>universe1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ad0bc4b3c5717c7ee3cb8b22edfaa2a:d291b7dde213170b3c0b3a14e9583809:846b8f8d35c259a269b7a082592519f4$</string>
            <key>textureFileName</key>
            <string>universe1.png</string>
        </dict>
    </dict>
</plist>
