<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jupiter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1353},{243,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,299}}</string>
                <key>sourceSize</key>
                <string>{243,299}</string>
            </dict>
            <key>jupiter_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1654},{243,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,299}}</string>
                <key>sourceSize</key>
                <string>{243,299}</string>
            </dict>
            <key>jupiter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1353},{243,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,299}}</string>
                <key>sourceSize</key>
                <string>{243,299}</string>
            </dict>
            <key>jupiter_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1041},{243,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,299}}</string>
                <key>sourceSize</key>
                <string>{243,299}</string>
            </dict>
            <key>jupiter_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1654},{243,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,299}}</string>
                <key>sourceSize</key>
                <string>{243,299}</string>
            </dict>
            <key>mars_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,379}}</string>
                <key>sourceSize</key>
                <string>{402,379}</string>
            </dict>
            <key>mars_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{402,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,379}}</string>
                <key>sourceSize</key>
                <string>{402,379}</string>
            </dict>
            <key>mars_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{402,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,379}}</string>
                <key>sourceSize</key>
                <string>{402,379}</string>
            </dict>
            <key>mars_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,383},{402,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,379}}</string>
                <key>sourceSize</key>
                <string>{402,379}</string>
            </dict>
            <key>mercury_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{275,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,310}}</string>
                <key>sourceSize</key>
                <string>{275,310}</string>
            </dict>
            <key>mercury_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,764},{275,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,310}}</string>
                <key>sourceSize</key>
                <string>{275,310}</string>
            </dict>
            <key>mercury_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,764},{275,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,310}}</string>
                <key>sourceSize</key>
                <string>{275,310}</string>
            </dict>
            <key>mercury_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1041},{275,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,310}}</string>
                <key>sourceSize</key>
                <string>{275,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>universe2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ad0bc4b3c5717c7ee3cb8b22edfaa2a:d291b7dde213170b3c0b3a14e9583809:846b8f8d35c259a269b7a082592519f4$</string>
            <key>textureFileName</key>
            <string>universe2.png</string>
        </dict>
    </dict>
</plist>
